-for (var i=0; i < 12; i++)
	article(class='card')
		div(class='card__close')
			span X
		div(class='card__title')
			h1 Title
		div(class='card__content')
			p TikTok Challenges, Ranked by How Likely They Are to Maim or Kill You
		div(class='card__sub-content')
			p The "skull breaker" challenge is, somehow, not even the most terrifying thing happening on this app.
		div(class='card__date')
			span 10.14.19
