extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Dashboard'
	-content			= 'Article-Dashboard'
	-pageDescription	= 'Dynamic Grid System'
block main-header

block main-container
	div(class='ed-grid rows-gap gap-4 s-grid-1 m-grid-2 l-grid-3', id='myContent')
block main-footer
block scripts


