//Libraries

//Normalize to fix standar default layout
@import "~normalize.css";

// This is EdGrid  CSS Library (Layout, FlexBox and CSSGrid)
$fractions 			: 1,2,3,4,5,6,7,8,9,10;
$breakpoints 		:
	(
		s	: 0,
		m	: 640px,
		l	: 960px,
		lg	: 1280px,
		xl	: 1600px
	);
@import "~ed-grid/ed-grid";

// Config
@import "config/vars";

// LAYOUT
@import "layout/layout";

// MODULOS (SMACSS) O COMPONENTES (ITCSS)
@import "components/card";
